a{color:#B96D00;text-decoration:underline;}
a:hover{text-decoration:none;}
body{background:#FFFFFF;padding:35px 0px 35px 0px;}
body,input{color:#333333;font:10pt "georgia","times new roman",serif;}
div.feedflare a,div.feedflare a img,table,td{border:0pt none;}
div.yuimenu div ul li ul{margin-left:1.5em;}
h3{background:url('/yui/skins/zen/img/db1.gif');font-size:1.7em;padding-right:34px;}
h3 span{font-weight:normal;}
h3,h4{background:no-repeat right;display:inline;font-weight:bold;}
h4{background:url('/yui/skins/zen/img/db2.gif');font-size:1.2em;padding-right:28px;}
img{border:solid 1px #6F5230;}
img.left{float:left;margin:0em 1.8em 1.4em 0em;position:relative;}
img.right{float:right;margin:0em 0em 1.8em 1.8em;position:relative;}
p{line-height:1.5em;margin-bottom:1.0em;text-align:justify;}
ul.linklist li,div.linklist ul li{line-height:2.0em;list-style:none;}
.admin{background:#008000;border-bottom:solid 1px #E1D2BD;color:#000000;left:-1.5em;margin-bottom:0.25em;padding:0.5em;position:relative;top:-1.5em;}
.admin a{background:transparent;color:#FFFF00;}
.box{background:url('/util/sites/frogsfolly/img/boxbg.gif') #FDFCF6 repeat-x;border-bottom:solid 1px #E1D2BD;margin-bottom:1.0em;padding:.5em;}
.contentarea{padding-top:1.3em;}
.contentarea img.left{float:left;margin:0em 1em 1em 0em;position:relative;}
.contentarea p{text-align:left;}
.contentarea ul li{line-height:2.0em;}
.contentarea ul,ul.linklist,div.linklist ul{list-style:none;}
.divider1{background:url('/yui/skins/zen/img/border2.gif') #FFFFFF repeat-x;clear:both;height:14px;margin:2.0em 0em 1.5em 0em;position:relative;}
.divider2{border-bottom:solid 1px #EAEAEA;height:1px;margin:2.0em 0em 2.0em 0em;position:relative;}
.post .details{color:#787878;font-size:0.8em;position:relative;top:-1.5em;}
.post ul.controls{clear:both;}
.post ul.controls li{display:inline;font-size:0.8em;}
.post ul.controls li a{background:no-repeat left;padding:0em 1.0em 0em 20px;}
.post ul.controls li a.comments{background:url('/yui/skins/zen/img/icon-comments.gif');}
.post ul.controls li a.more{background:url('/yui/skins/zen/img/icon-more.gif');}
.post ul.controls li a.printerfriendly{background:url('/yui/skins/zen/img/icon-printerfriendly.gif');}
#content{padding:0em 2.0em 0em 2.0em;}
#footer{background:url('/yui/skins/zen/img/border2.gif') #FFFFFF repeat-x 0em 2.5em;clear:both;font-size:0.8em;height:2.0em;padding-top:5.0em;position:relative;}
#footer .left{bottom:1.2em;left:2.0em;position:absolute;}
#footer .right{bottom:1.2em;position:absolute;right:2.0em;}
#header{background:url('/yui/skins/zen/img/bg-main.jpg') #FFFFFF repeat-x;height:6.0em;margin-bottom:2px;position:relative;width:100%;}
#headercontent{bottom:0em;padding:0em 2.0em 0.3em 2.0em;position:absolute;}
#headercontent h1{color:#FFFFFF;font-size:2.5em;font-weight:normal;}
#headercontent h1 sup{color:#777777;}
#headercontent h2{color:#AAAAAA;font-size:1.0em;font-weight:normal;}
#outer{background:#FFFFFF;border:solid 5px green;margin:0 auto;position:relative;width:82%;z-index:4;}
#primarycontainer{float:left;margin-right:-18.0em;width:100%;}
#primarycontent{margin:1.5em 22.0em 0em 0em;}
#search{padding-right:0.0em;position:absolute;right:2.0em;top:5.5em;}
#search input.submit{background:url('/yui/skins/zen/img/buttonbg.gif') #939B00 repeat-x;border:solid 1px #5F6800;color:#F2F3DE;font-size:0.8em;font-weight:bold;padding:0.25em;vertical-align:middle;}
#search input.text{border-bottom:solid 1px #777777;border-left:0px;border-right:0px;border-top:solid 1px #000000;margin-right:0.5em;padding:0.15em;vertical-align:middle;width:10.0em;}
#secondarycontent{float:right;margin-top:1.5em;width:18.0em;}
#upbg{background:url('/yui/skins/zen/img/bg_gradient.jpg') #FFFFFF repeat-x;height:175px;left:0px;position:absolute;top:0px;width:100%;z-index:1;}
#doc3{ z-index: 5;}