<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection" requirePermission="false"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions" requirePermission="false"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions" requirePermission="false"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection" requirePermission="false"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="cachestate" value="0"/>
		<add key="configfolder" value="C:\Documents and Settings\Mark Hazleton\My Documents\WebProjectMechanics\wpm\wpmweb\access_db\"/>
		<add key="sqllog" value="C:\Documents and Settings\Mark Hazleton\My Documents\WebProjectMechanics\wpm\wpmweb\access_db\log\sqllog.csv"/>
		<add key="auditlog" value="C:\Documents and Settings\Mark Hazleton\My Documents\WebProjectMechanics\wpm\wpmweb\access_db\log\auditlog.csv"/>
		<add key="accesslog" value="C:\Documents and Settings\Mark Hazleton\My Documents\WebProjectMechanics\wpm\wpmweb\access_db\log\accesslog.csv"/>
		<add key="mhWebHome" value="/mhweb/"/>
		<add key="mhASPMakerGen" value="/aspmaker/"/>
		<add key="WwwRule" value="keep"/>
		<add key="DefaultExtension" value=".html"/>
    <add key="Use404Processing" value="0"/>
	</appSettings>
	<system.web>
		<pages validateRequest="false" enableViewState="false">
			<namespaces>
				<!-- Default namespaces -->
				<add namespace="System"/>
				<add namespace="System.Text"/>
				<add namespace="System.ComponentModel"/>
				<add namespace="System.Collections"/>
				<add namespace="System.Collections.ObjectModel"/>
				<add namespace="System.Collections.Specialized"/>
				<add namespace="System.Configuration"/>
				<add namespace="System.IO"/>
				<add namespace="System.Data"/>
				<add namespace="System.Data.OleDb"/>
				<add namespace="System.Data.Common"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Caching"/>
				<add namespace="System.Web.SessionState"/>
				<add namespace="System.Web.Security"/>
				<add namespace="System.Web.Profile"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
				<add namespace="System.Web.UI.WebControls.WebParts"/>
				<add namespace="System.Web.UI.HtmlControls"/>
				<add namespace="EW.Data"/>
				<add namespace="EW.Data.Utilities"/>
				<add namespace="EW.Web"/>
				<add namespace="EW.Web.UI.Controls"/>
				<add namespace="EW.Web.UI.WebControls"/>
				<add namespace="mhweb"/>
			</namespaces>
			<controls>
				<add namespace="System.Web.UI" assembly="System.Web.Extensions" tagPrefix="asp"/>
				<!--add namespace="System.Web.UI.Controls" assembly="System.Web.Extensions" tagPrefix="atlas"/-->
				<add namespace="EW.Web.UI.Controls" assembly="EW" tagPrefix="ew"/>
				<add namespace="EW.Web.UI.WebControls" assembly="EW" tagPrefix="ew"/>
				<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
			</controls>
		</pages>
		<anonymousIdentification enabled="true"/>
		<!-- 
			Set compilation debug="true" to insert debugging symbols into the compiled page.
			Because this affects performance, set this value to true only during development.
		-->
		<compilation debug="true" strict="false" explicit="true">
			<assemblies>
				<add assembly="System.Web.Extensions"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="ADODB, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
			<expressionBuilders>
				<add expressionPrefix="EWCode" type="EW.Web.Compilation.CodeExpressionBuilder"/>
			</expressionBuilders>
		</compilation>
		<!--
			ASMX is mapped to a new handler so that proxy javascripts can also be served.
		-->
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="mhHttpModule" type="mhweb.mhHttpModule"/>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule"/>
		</httpModules>
		<!--
			The <authentication> section enables configuration of the security authentication
			mode used by ASP.NET to identify an incoming user. 
		-->
		<sessionState mode="InProc" cookieless="false" timeout="20"/>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="false"/>
		<identity impersonate="false"/>
		<!--  GLOBALIZATION
		This section sets the globalization settings of the application. 
		-->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<!--authorization>
			<deny users="?"/>
		</authorization-->
		<authentication mode="Forms">
			<forms name=".PMGENAUTH" loginUrl="~/aspmaker/login.aspx" defaultUrl="~/aspmaker/default.aspx" protection="Validation" timeout="20">
			</forms>
		</authentication>
		<membership defaultProvider="ewMembershipProvider">
			<providers>
				<add enablePasswordRetrieval="true" enablePasswordReset="false" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" passwordFormat="Clear" description="Stores and retrieves membership data from custom data source" name="ewMembershipProvider" type="PMGEN.ewMembershipProvider"/>
			</providers>
		</membership>
		<profile>
			<properties>
				<add name="GlobalProfile" type="EW.Web.GlobalProfile" serializeAs="Binary"/>
				<add name="TableProfile" type="EW.Web.TableProfile" serializeAs="Binary"/>
				<add name="FieldProfile" type="EW.Web.FieldProfile" serializeAs="Binary"/>
			</properties>
		</profile>
		<customErrors mode="Off"/>
	</system.web>
</configuration>
