
/*BEGIN_SYSTEM_STYLES*/
table,tr,td {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/* main table */
.ewTable {
	font-family: Verdana; /* font name */
	font-size: small; /* font size */
	border: 0px outset; /* border */
	border-collapse: collapse;
}

.ewDetailTable {
	font-family: Verdana; /* font name */
	font-size: small; /* font size */
	border: 0px outset; /* border */
	border-collapse: collapse;
}

/* main table data cells */
.ewTable td, .ewTable th {
	padding: 4px; /* cell padding */
	border: 1px solid; /* cell spacing */
	border-color: #CCCCCC;  /* table background color */
}

.ewTable table td {
    font-family: Verdana; /* font name */
    font-size: small; /* font size */
    border: 0px;
}

.ewDetailTable td, ewDetailTable th {
	padding: 4px; /* cell padding */
	border: 1px solid; /* cell spacing */
	border-color: #CCCCCC;  /* table background color */
}

.ewDetailTable table td {
    font-family: Verdana; /* font name */
    font-size: small; /* font size */
    border: 0px;
}

.ewBasicSearch {
	font-family: Verdana; /* font name */
	font-size: small; /* font size */
	border: 0px;
	border-collapse: collapse;
}

.ewBasicSearch td {
	border: 0px;
	padding: 1px;
}

.ewSearchOpr {
	font-family: Verdana; /* font name */
	font-size: small; /* font size */
	color: maroon;
	background-color: white;
}

.ewListAdd {
	font-family: Verdana; /* font name */
	font-size: small; /* font size */
	border: 0px;
	border-collapse: collapse;
}

.ewListAdd td {
	border: 0px;
	padding: 2px;
}

.aspnetmakerlist td {
	font-family: Verdana; /* font name */
	font-size: small; /* font size */
	border: 0px;
	padding: 0px;
	vertical-align: top; 
}

.ewAddOption td {
	font-family: Verdana; /* font name */
	font-size: small; /* font size */
	padding: 2px; /* cell padding */	
	border: 0px;	
}

/* main table header cells */
.ewTableHeader {
	background-color: #336699; /* header color */
	color: #FFFFFF; /* header font color */	
	vertical-align: top;	
}

.ewTableHeader a:link {	
	color: #FFFFFF; /* header font color */	
}

.ewTableHeader a:visited {	
	color: #FFFFFF; /* header font color */	
}

.ewTableHeaderlist td {
	background-color: #336699; /* header color */
	color: #FFFFFF; /* text color */
	font-family: Verdana; /* font name */
	font-size: small; /* font size */
	border: 0px;
	padding: 0px;
	vertical-align: top;
}

/* main table row color */
.ewTableRow {
	background-color: #FFFFFF;  /* alt row color 1 */
}

/* main table alternate row color */
.ewTableAltRow {
	background-color: #F5F5F5; /* alt row color 2 */	
}

/* main table edit mode row color */
.ewTableEditRow {
	background-color: #FFFF99; /* edit mode color */
}

/* main table highlight color */
.ewTableHighlightRow {
	background-color: #CCCCCC; /* highlight color */
}

/* main table select color */
.ewTableSelectRow {
	background-color: #CCCCCC; /* select color */
}

/* main table footer section */
.ewTableFooter {
	background-color: #FFFFCC;
}

/* main table pager section */
.ewTablePager {
	background-color: #F5F5F5
}

/* classes for report */
.ewReportTable {
    border: 0px;
    border-collapse: collapse;
}

.ewReportTable td {
    padding: 3px;
}

.ewGroupField {
	font-weight: bold;
}

.ewGroupName {
	font-weight: bold;
}

.ewGroupHeader {
	border-bottom: 3px double Gray;
	border-top: 3px double Gray;
}

.ewGroupSummary {
	border-top: 1px solid Gray;
} 

.ewGroupAggregate {
	font-weight: bold;
}

.ewGrandSummary {
	border-top: 1px solid Gray;
}

/* message */
.ewmsg {
	color: red; /* message color */
	font-family: Verdana; /* font name */
	font-size: small; /* font size */	
}

/* Ajax */
.ewAstList {
	border: 1px solid black;
	background: #ffffff;
	position: absolute;
	padding: 0;
	white-space: nowrap;
}

.ewAstListBase {
	position: absolute;
	padding: 1px;
}

.ewAstListItem {
	color: black;
	background: #ffffff;
	cursor: pointer;
	white-space: nowrap;
	padding: 1px;
}

.ewAstSelListItem {
	color: white;
	background: Highlight;
	cursor: pointer;
	white-space: nowrap;
	padding: 1px;
}

/* MultiPage pager table */
.ewMultiPagePager {
	font-family: Verdana; /* font name */
	font-size: small; /* font size */
	border: 0px; /* border */	
}

.ewMultiPagePager td {
	padding: 2px; /* cell padding */	
}

/* ajax popup calendar style */
.calendar td, .calendar th {padding: 0px}
.calendar .ajax__calendar_container {border:1px solid #646464;background-color:#ffffff;color:#000000;}
.calendar .ajax__calendar_footer {border-top:1px solid #f5f5f5;}
.calendar .ajax__calendar_dayname {border-bottom:1px solid #f5f5f5;text-align:right;}
.calendar .ajax__calendar_day {border:1px solid #ffffff;text-align:right; }
.calendar .ajax__calendar_month {border:1px solid #ffffff;}
.calendar .ajax__calendar_year {border:1px solid #ffffff; }

.calendar .ajax__calendar_active .ajax__calendar_day {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.calendar .ajax__calendar_active .ajax__calendar_month {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.calendar .ajax__calendar_active .ajax__calendar_year {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}

.calendar .ajax__calendar_other .ajax__calendar_day {background-color:#ffffff;border-color:#ffffff;color:#646464;}
.calendar .ajax__calendar_other .ajax__calendar_year {background-color:#ffffff;border-color:#ffffff;color:#646464;}

.calendar .ajax__calendar_hover .ajax__calendar_day {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.calendar .ajax__calendar_hover .ajax__calendar_month {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.calendar .ajax__calendar_hover .ajax__calendar_year {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}

.calendar .ajax__calendar_hover .ajax__calendar_title {color:#0066cc;}
.calendar .ajax__calendar_hover .ajax__calendar_today {color:#0066cc;}

/*END_SYSTEM_STYLES*/

/* MHWEB Custom Classes */
.highlight-one {  background-color: Silver;   color:Red;}
.highlight-two {  background-color: Silver;   color:Navy;}
.highlight-three { background-color: Aqua;color:Red;}
.highlight-four { background-color:Aqua; color:Navy;}