/*******************
Author: Patrick Ryan
URL: http://www.agavegroup.com
Feel free to use this however you like.  Credit is always appreciated.
*******************/

input, textarea, select{
	border:0;
	margin: 3px 3px 3px 3px;
	padding:0px 3px;
	font:90%/180% "Trebuchet MS", "Lucida Grande", "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
	color:#666666;
}

label{
	float:left;
	margin: 15px 3px 3px;
	width:100px;
	display:block;
	font-weight: bold;
}

.clearAll{
	clear:both;
	margin-top:15px;
	margin-bottom:15px;
}
legend {
	font-size:116%;  
	font-weight: bold;
	background: #ffffff;

}
fieldset {
	border: thin dashed Gray;
	padding: 25px 15px 25px 15px;
	width: 450px;
}

/***** Shadows that wrap around ALL elements ***********/
.frmShdwTopLt{
	float:left;
	background:url(/runtime/form/shadowUpperLeft.gif) top left no-repeat;
}

.frmShdwBottomRt{
	float:left;
	background:url(/runtime/form/shadowLowerRight.gif) bottom right no-repeat;
}

.frmShdwBottomLt{
	float:left;
	background:transparent url(/runtime/form/shadowBottomLeft.gif) bottom left no-repeat;
}

.frmShdwTopRt{
	float:left;
	background:transparent url(/runtime/form/shadowTopRight.gif) top right no-repeat;
}


/***** styles specific to the CHECKBOX **********/
.frmShdwCheck{
	border:0;
	margin:0;
	padding:0;
}

	.frmShdwCheck img{
		border:0;
		margin:0;
	}

	
/***** styles specific to the RADIO BUTTONS **********/
.frmShdwRadio{
	float:left;
	margin:0;
}

	.frmShdwRadio img{
		border:0;
		margin:0;
	}

	
/***** styles specific to the SUBMIT BUTTONS **********/
.frmShdwSubmit{
	border:0;
	background:#f7f7f7 !important;
	background:transparent;
	float:left;
	font-weight:bold;
	cursor:pointer;
}
	.frmShdwSubmit:hover{
		color:#000000;
	}
	

/***** styles specific to the SELECT BOX **********/
.frmShdwSelectDropChosen{
	padding: 0 0 0 2px !important;
	padding: 0 0 3px 2px;
	font-size:.9em;
	float:left;
	border-right:1px solid #cccccc;
	border-left:1px solid #ffffff !important;
	border-left:0;
	display:block;
	cursor:pointer;
	/*some stuff for IE*/
	color:#666666;
	text-decoration:none;
}

.frmShdwSelectDropShown{
	margin:3px 3px 3px 5px;
	padding: 0 0 0 2px;
	font-size:.9em;
	float:left;
	border-right:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	position:absolute;
	background:#ffffff;
}

.frmShdwSelectDrop{
	display:none;
}

.fakeSelectImg{
	border:0;
	margin:5px 5px 0px 0px;
}

.frmShdwSelectDropShown a{
	display:block;
	margin:0;
	padding:0px;
	border-bottom:1px dashed #ffffff;
	text-decoration:none;
	color:#666666;
}
	
	.frmShdwSelectDropShown a.selected{
		background:#f7f7f7;
		color:#000000;
		border-bottom:1px dashed #cccccc;
	}
	
	.frmShdwSelectDropShown a.selected:after{
		content:" <<";
	}
	
	
	.frmShdwSelectDropShown a:hover{
		background:#f7f7f7;
		border-bottom:1px dashed #cccccc;
		text-decoration:none;
		color:#666666;
	}
	
	.frmShdwSelectDropShown a:hover:after{
		content:" <<";
	}
	img.thumbnail {
	float: right;
	border: 1px;
	}
	