input, textarea, select {	
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
} 

.AdminEditTable {
	clear: left; /* '### v8 ### */
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	empty-cells: show;
	width: 100%;
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */	
	background-color:transparent;
}

.AdminEditLabel {
	background-color: #F1F1F1; /* background color */
	width: 180px;
	vertical-align: top;
	padding: 2px;	
	background-color: #2647A0;	/* header bgcolor */
	color: #FFFFFF; /* header font color */
	border-bottom: 1px solid; /* header border width */
	border-right: 1px solid; /* header border width */
	border-color: #4F93E3; /* header border color */	
	background-image: url(/images/blue.png); /* header bg image */
	background-repeat: repeat-x;		
	vertical-align: top; 	
}

.AdminEditControl {
	background-color: inherit; /* background color */
	vertical-align: top;
	padding: 1px;
}

.ewHeaderRow {
	background-color: #0000FF; /* background color */	
}


.ewFooterRow {
	background-color: #0000FF; /* background color */
	color: #FFFFFF; /* footer font color */	
	padding: 4px;
}

.ewFooterText {
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */	
}

.ewForm {
	margin: 0;
	padding: 0;
}

.ewGrid {
	border-collapse: separate;
}

.ewGrid .ewGridContent {
	padding: 0;	
	border: 1px solid #4F93E3; /* grid border */			
}

/* grid pager panel */
.ewGridUpperPanel, .ewGridLowerPanel {
	padding: 3px;	
	border-left: 0;
	border-right: 0;	
	background-color: inherit; /* grid header color */
	color: inherit;	 /* grid header font color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */			
}

.ewGridUpperPanel {
	border-top: 0px;
	border-bottom: 1px solid;
	border-color: #4F93E3; 
}

.ewGridMiddlePanel {
	border: 0;	
}

.ewGridLowerPanel {
	border-top: 1px solid;
	border-bottom: 0px; 
	border-color: #BFD3EE; 
}

.ewGridUpperPanel td, .ewGridLowerPanel td {
	color: inherit;	 /* grid header font color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */			
}

.ewPager td {
	white-space: nowrap;	
}

.ewTabContent {
	padding: 0;
	border: 0;
}

.ewMultiColumnTable {
	border: 0;
}

.ewMultiColumnTable td {
	padding: 10px;
}

/* main table */
.ewTable {
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	empty-cells: show;
	width: 100%;
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */			
}

.ewTableSeparate {	
	border-collapse: separate;		
}

.ewTable td {
	padding: 3px; /* cell padding */
	border-bottom: 1px solid; /* border width, horizontal grid line */
	border-top: 0px;
	border-left: 0px;
	border-right: 1px solid; /* border width, vertical grid line */
	border-color: #BFD3EE;  /* border color */
}

.ewTableAddOpt {
	border: 0;
	border-spacing: 0;
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */			
}

.ewTableAddOpt td {
	padding: 3px; /* cell padding */
	border: 0;
}
	
.ewTable .ewTableHeader, .ewTable .ewTableHeader td {
	background-color: #2647A0;	/* header bgcolor */
	color: #FFFFFF; /* header font color */
	border-bottom: 1px solid; /* header border width */
	border-right: 1px solid; /* header border width */
	border-color: #4F93E3; /* header border color */	
	background-image: url(/images/blue.png); /* header bg image */
	background-repeat: repeat-x;		
	vertical-align: top; 	
}

.ewPointer {
	cursor: pointer;
}

.ewTableHeader a:link, .ewTableHeader a:active, .ewTableHeader a:visited {	
	color: #FFFFFF; /* header font color */
	text-decoration: none;	
}

.ewTableHeaderBtn {
	width: 100%;
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */				
}

.ewTableHeader .ewTableHeaderBtn td {
	background: transparent;
	padding: 0;
	border: 0;
	white-space: nowrap;		
}

/* main table row color */
.ewTableRow {
	background-color: #FFFFFF;  /* alt row color 1 */
	color: inherit;
}

/* main table alternate row color */
.ewTableAltRow {
	background-color: #EDF5FF; /* alt row color 2 */
	color: inherit;	
}

/* main table last row */
.ewTableLastRow td {
	border-bottom: 0px;
}

/* main table edit mode row color */
.ewTableEditRow {
	background-color: #FFFF99; /* edit mode color */
	color: inherit;
}

/* main table highlight color */
.ewTableHighlightRow {
	background-color: #FFFFCC; /* highlight color */
	color: inherit;
}

/* main table select color */
.ewTableSelectRow {
	background-color: #8D8D8D; /* select color */
	color: #FFFFFF;
}

/* main table footer */
.ewTableFooter {
	background-color: #D4E7FD; /* footer color */
	color: inherit;
}

/* table for export to HTML */
.ewExportTable {
    border-collapse: collapse;
    empty-cells: show; 
}

.ewExportTable td {
    padding: 3px; /* cell padding */
    border: 1px solid #C0C0C0;
}

.ewBasicSearch {
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
	border: 0px;
	border-collapse: collapse;
}

.ewBasicSearch td {
	border: 0px;
	padding: 2px;
}

.ewSearchOpr {
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
	color: maroon;
}

.ewItemTable td {
	color: inherit; /* text color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
	border: 0px;
	padding: 0px;
	vertical-align: top; 
}

/* separator */
.ewSeparator {
    color: gray;
}

/* classes for report */
.ewReportTable {
    border: 0px;
    border-collapse: collapse;
}

.ewReportTable td {
    padding: 3px;
}

.ewGroupField {
	font-weight: bold;
}

.ewGroupName {
	font-weight: bold;
}

.ewGroupHeader {
	border-bottom: 3px double Gray;
	border-top: 3px double Gray;
}

.ewGroupSummary {
	border-top: 1px solid Gray;
} 

.ewGroupAggregate {
	font-weight: bold;
}

.ewGrandSummary {
	border-top: 1px solid Gray;
}

/* message */
.ewMessage {
	color: red; /* message color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */	
}

/* required field indicator */
.ewRequired {
	color: red; /* message color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */	
}

/* highlight */
.ewHighlightSearch {
	font-weight: bold;
	background-color: yellow;
}

/* Template */
.ewTemplate {
	display: none;
}

/* YUI TabView */
.yui-skin-sam .yui-navset .yui-nav  {
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */	
}

.yui-skin-sam .yui-navset .yui-content {
	padding: 0;
	border: 0;
}

/* .yui-navset defaults to .yui-navset-top */
.yui-skin-sam .yui-navset .yui-nav,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav { /* protect nested tabviews from other orientations */
	border-width: 0;
}

/* *** A8 *** */
.yui-skin-sam .yui-navset .yui-nav a,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a {
	background: #F5F5F5 url(images/mediumgray.png) repeat-x; /* tab background */
	color: #000;
	border: solid #a3a3a3; /* tab left/right border color */
	border-width: 0 1px;
}

/* *** A8 *** */
.yui-skin-sam .yui-navset .yui-nav a em,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a em {
	border: solid #a3a3a3; /* tab top border color */
	border-width: 1px 0 0;
}

/* *** A8 *** */
.yui-skin-sam .yui-navset .yui-nav a:hover,
.yui-skin-sam .yui-navset .yui-nav a:focus {
	background: #F0FFFF url(/images/blue.png); /* highlighted tab background */
}

/* *** A8 *** */
.yui-skin-sam .yui-navset .yui-nav .selected a,
.yui-skin-sam .yui-navset .yui-nav .selected a:focus, /* no focus effect for selected */
.yui-skin-sam .yui-navset .yui-nav .selected a:hover { /* no hover effect for selected */
	background: #2647A0 url(/images/blue.png); /* selected tab background */
	color: #FFFFFF;
}

/* *** A8 *** */
.yui-skin-sam .yui-navset .yui-nav .selected a,
.yui-skin-sam .yui-navset .yui-nav .selected a em {
	border-color: #243356; /* selected tab border color */
}


/* YUI Button */
.yui-skin-sam .yui-button button, .yui-skin-sam .yui-button a {   
  font-size: xx-small; /* font size */
}

/* YUI Panel */
.yui-skin-sam .yui-panel .hd {    
	font-size: xx-small; /* font size */
	line-height: 2.5;     
}

/* Auto-Suggest */
.yui-skin-sam .yui-ac { /* DO NOT CHANGE! */
	position: relative; 
}

.yui-skin-sam .yui-ac-input { /* DO NOT CHANGE! */
	position: relative;
	width: auto;
}

.yui-skin-sam .yui-ac-content ul{
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
	color: #000000; /* text color */ 
}

.ewUnmatched {
	background: #FF9F9F;
}

/* scrollable table ### v8 ### */
.ewScrollableTable {
	*overflow-y: auto; /* for ie */
}

.ewScrollableTable thead tr {
	position: relative; /* for ie */
}

.ewScrollableTable .ewScrollableTableHeader {
	overflow: hidden;
	position: relative; /* for ie overflow bug http://rowanw.com/bugs/overflow_relative.htm */
}
/* scrollable table ### v8 ### */

.ewLangForm {
	text-align: right;
}

/*END_SYSTEM_STYLES*/
/*BEGIN_USER_STYLES*/
          

/* Custom Classes */
.highlight-one {  background-color: Silver;   color:Red;}
.highlight-two {  background-color: Silver;   color:Navy;}
.highlight-three { background-color: Aqua;color:Red;}
.highlight-four { background-color:Aqua; color:Navy;}

.box {
   overflow:        visible;
   font-size:       95%;
   line-height:     1.25;
   margin:          0 0 0.75em 1.5em;
   padding:         0.5em 1em;
   border:          1px solid #999999;
   color:           black;
   background:      #F0F0F0;
}
    div.topbanner
    {
     background-color: #336699;
     margin:0px 0px 0px 0px;
     padding:5px 5px 5px 5px;
     border-top:0px;
     border-bottom:0px;
     text-align:left;
     }
    div.topbanner h1 
    {
    font-size:24px;
    color:White;
    background:transparent;
    }
    div.topbanner div.rightnav
    {
     float:right;
     margin:0px 0px 0px 0px;
     padding:5px 5px 5px 5px;
     border-top:0px;
     border-bottom:0px;
     font-size:14px;
     color:White;
     background:transparent;    
     text-align:right;
    }
    div.topbanner div.rightnav a
    {
     font-size:14px;
     color:White;
     background:transparent;    
    }
